/* H E A D E R */
header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 5vh;
    background-color: #1E1F20;
    font-family: 'Regular 400', sans-serif;
}
.info-links{
    display: flex; 
    width: 50%;
    gap: 70px;
    margin-left: -300px;
}
.info-links li{
    list-style: none;
}
.info-links a{
    color: #09FF00;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 11px;
    font-family: 'Vollkorn', serif;
    transition: 0.3s ease;
    text-align: left;
}
#fb{
    color: #09FF00;
    display: inline-block;
    margin-left: -660px;
}
#fb:hover{
    color: #09FF00;
    font-weight: 550;
    transition:none ;
}
#yt{
    color: #09FF00;
    display: inline-block;
    margin-left: -50px;
}
/* END  of HEADER */

/* N A V I G A T I O N   B A R */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: #085357;
    font-family: 'Regular 400', sans-serif;
    transition: all 0.3s;
}
.navbar .sticky{
    padding: 30px 0;
    background: #085357;
}
.logo{
    color: rgba(255, 255, 255, 0.788);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    cursor: pointer;
}
.nav-links{
    display: flex; 
    width: 45%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgba(255, 255, 255, 0.418);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: 'Vollkorn', serif;
    transition: 0.3s ease;
}
.nav-links li a:hover{
    color: rgb(255, 255, 255);
    font-weight: 550;
    transition:none ;
}
.nav-links li a:hover:after{
    width: 100%;
}
.sub-menu li{ /* Sub Menus */
    display: none;
}
.burger{ /* Column Bar */
    display: none;
    cursor: pointer;
    z-index: 2;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 1040px){
.nav-links{
    width: 30%;
}
}

/* Column Bar will appear */
@media screen and (max-width: 1100px){
body{
    overflow-x: hidden;
}
.nav-links{
    position: absolute;
    right: 0px;
    min-height: 95vh;
    top: 15vh;
    background-color: #085357;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
}
.nav-links li{
        opacity: 0;
    }

.burger{
        display: block;
    }
}

/* Menu Appearance in Burger */
.nav-active{
    transform: translateX(0%);
    z-index: 1; 
}

/* Links Animation in Burger */
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Exit Animation in Burger */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
/* END of NAVIGATION BAR */

.container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.wrapper {
    width: 100%;
    width: 100%;
    height: auto;
    min-height: 110vh;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.profile {
    width: 100%;
    min-height: 620px;
    margin: auto;
    -webkit-box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
            box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
    }
.change, .change:hover {
    text-decoration: none;
}
#button1, #button:hover{
    text-decoration: none;
}
.form-group{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    -index: 4;
    -webkit-box-shadow: 0px 5px 50px 0px #00D1DB, 0px 0px 0px 7px #324e63;
        box-shadow: 0px 5px 50px 0px #00D1DB, 0px 0px 0px 7px #324e63;
}
@media screen and (max-width: 576px) {
    .form-group {
    width: 120px;
    height: 120px;
    }
}
.form-group img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.form-group1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
#lifeverse{
    font-size: 18px;
    font-weight: 500;
    color: #324e63;
}
.profile__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
    td > input[type = "text"]
    {
        width: 95.7%;
    }
    td > input[type="radio"]{
        display: inline-block;
    }
    td > select
    {
        width: 100%;
    }
    td > input[type = "date"]
    {
        width: 97.2%;
    }
    textarea {
        border: ridge 2px;
        padding: 5px;
        width: 20em;
        min-height: 5em;
        overflow: auto;
    }
.profile-ctr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (max-width: 576px) {
    .profile-ctr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.change {
    background: linear-gradient(45deg, #1da1f2, #324e63);
    -webkit-box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
            box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}
.change:hover {
    -webkit-box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
    box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}
.change {
    border: none;
    font-weight: 500;
    font-size: 15px;
    margin: auto 35px;
    padding: 15px 40px;
    min-width: 200px;
    border-radius: 5px;
    height: 35px;
    color: white;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
.change{
    min-width: 170px;
    margin: 15px 25px;
    }
}

@media screen and (max-width: 576px) {
    .change {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
    }
    .change:last-child {
    margin-bottom: 0;
    }
}

.change:focus {
    outline: none !important;
}
@media screen and (min-width: 768px) {
    .change:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    }
}    
.classification{
    font-weight: 600;
    font-size: 18px;
    color: #324e63;
    justify-content: flex-start;
    display: flex;
    padding-right: 30px;
}
.title{
    font-size: 23px;
    font-weight: 700;
    color:#324e63;
    padding-bottom: 20px;
}
#button{
        border: none;
        font-weight: 500;
        font-size: 15px;
        padding: 10px;
        margin: auto 50px;
        margin-top: 20px;
        min-width: 200px;
        border-radius: 5px;
        height: 35px;
        color: white;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        -webkit-transition: all .3s;
        transition: all .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
#button{
    background: linear-gradient(45deg, #189F13, #09FF00);
    -webkit-box-shadow: 0px 4px 30px #189F13;
            box-shadow: 0px 4px 30px #189F13;
}
#button:hover{
    -webkit-box-shadow: 0px 7px 30px #09FF00;
    box-shadow: 0px 7px 30px #09FF00;
}
#button1{
    border: none;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
    margin: auto 50px;
    margin-top: 20px;
    min-width: 200px;
    border-radius: 5px;
    height: 35px;
    color: white;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#button1{
background: linear-gradient(45deg, #189F13, #09FF00);
-webkit-box-shadow: 0px 4px 30px #189F13;
        box-shadow: 0px 4px 30px #189F13;
}
#button1:hover{
-webkit-box-shadow: 0px 7px 30px #09FF00;
box-shadow: 0px 7px 30px #09FF00;
}
#savechanges{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 50px;
}
.form .input{
    border: none;
    width: 100%;
    height: 100%;
    color:black;
    border-bottom: 1px solid black;
}

/* F O O T E R */
.footer{
    display: flex;
    justify-content: space-around;
    height: 200px;
    background-color: #107B82;
    font-family: 'Regular 400', sans-serif;
    margin-top: 50px;
}
.footer .container{
    max-width: 80%;
    text-decoration: none;
    align-items: center;
}
.flex{
    display: flex;
}
.footer .logo{
    margin-right: 100px;
    margin-left: -100px;
    padding-right: 80px;
}
.footer .foot-links{
    display: flex; 
    justify-content: space-around;
    gap: 30px;
    padding-right: 150px;
}
.footer .foot-links li{
    list-style: none;
    opacity: 0.9;
}
.footer .foot-links a{
    color: white;
    letter-spacing: 3px;
    font-size: 11px;
    font-family: 'Vollkorn', serif;
    text-decoration: none;
    margin-right: 100px ;
}
.footer .info{
    justify-content: space-around;
    color: white;
    letter-spacing: 3px;
    font-size: 11px;
    font-family: 'Vollkorn', serif;
    transition: 0.3s ease;
    margin-right: -20px;
}
.footer .info p{
    opacity: 0.9;
}
.foot{
    display: flex; 
    width:100%;
    justify-content: space-around;
    background-color: #085357;
}
.foot p{
    font-size: 15px;
    padding: 7px;
    color: white;
    opacity: 0.80;
}
.foot-icons{
    margin-bottom: -20px;
}
.fb{
    color: white;
    margin-bottom: -10px;
    padding: 20px;
}
.yt{
    color: white;
}
  /* END of FOOTER */ 
